html{
  background-color: rgb(0, 255, 13);
  display: flex;
  justify-content: center;
  body{
    width: 100%;
    list-style: none;
    a{
      text-decoration: none;
    }
    .box{
      width: 60%;
    }
    span{
      font-size: 6px;
      margin:0 2px;
    }
  }
}