$caret-color: red;

.head_border{
  height: 3px;
  background-color: rgb(25, 0, 255);
}

.header{
  height: 48px;
  margin: 0 auto;
  &__box{
    width :750px;
    display: flex;
    margin: 0 auto;
    &__logo{
      width: 15%;
      padding: 10px 0;
    }
    &__name{
      width: 25%;
      padding-left: 10px;
      p{
        font-size: 8px;
        width: 150px;
        line-height:  48px;
      }
    }
    &__language{
      width: 15%;
      line-height: 48px;
      padding-left: 20px;
      padding-left: 25px;
      font-size: 7px;
      text-align: center;
      a{
        padding-right: 2px;
        span{
          color: $caret-color;
        }
      }
    }
    &__search{
      width: 55%;
      display: flex;
      justify-content: flex-end;
      &__contents{
        width: 80%;
        padding-top: 3px;
        font-size: 7px;
        .header-links{
          ul{
            display: flex;
            a{
              padding-right: 2px;
              span{
                color: $caret-color;
              }
            }
          }
        }
        .search__box{
          height: 17px;
          padding-top: 1px;
          text-align: right;
          display: flex;
          .form{
            width: 80%;
          }
          .button1{
            width: 20%;
            font-size: 10px;
            display: block;
            position: relative;
            line-height: 20%;
            .fas{
              padding-left: 2px;
              font-size: 10px;
              position: absolute;
              top: 5px;
              left: 0;
              line-height: 30%;
              color:#888a8b;
            }
            p{
              padding-left: 5px;
            }
          }
        }
      }
    }
  }
}