// -------- ２：メニュー ---------
$caret-color: red;
.menu{
  border-top: 1px solid rgb(211, 211, 211);
  border-bottom: 1px solid rgb(211, 211, 211);
  margin: 0 auto;
  &__box{
    width :750px;
    margin: 0 auto;
    &__2{
      margin: 4px 15px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      &__border_lists{
        li{
          height: 30px;
          float: left;
          border-right: 1px solid rgba(195, 195, 195, 0.4);
        }
        &__list{
          height: 27px;
          width: 80px;
          margin: 3px;
          border-radius: 5%;
          margin: 0 auto;
          &:hover{
            background-color: rgb(32, 110, 255);
            color: #fff;
            cursor: pointer;
          }
          a{
            text-align: center;
            ver
            line-height: 27px;
            margin: 0 3px;
            font-size: 10px;
            color: rgb(63, 63, 63);
          }
        }
      }
    }
  }
}