// -------- ３：見出し ---------
.title{
  max-width :1050px;
  min-width :600px;
  text-align: center;
  &__box{
    height: 60px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    p{
      display: inline;
      text-align: left;
    }
  }
}