// -------- ４：ボーダー ---------
.border{
  height: 650px;
  border-top: 60px solid rgb(4, 17, 199);
  border-bottom: 3px solid rgb(77, 77, 77);
  position: relative;
}

// -------- ５：メインコンテンツ ---------
.main{
  position: absolute;
  top: 170px;
  width: 100%;
  display: flex;
  justify-content: center;
  &__box{
    filter: drop-shadow(10px 10px 10px rgba(0,0,0,0.6));
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    &--2{
      width: 95%;
      height: 584px;
      padding: 20px 0 40px;
      border-top: 3px solid rgb(8, 4, 255);
      background-color: #fff;
      &__contents{
        &--message{
          font-weight: bold;
          padding-bottom: 20px;
        }
        .border{
          border-top: 1px solid rgb(225, 225, 225);
          border-bottom: 1px solid rgb(225, 225, 225);
        }
        &__content{
          height: 180px;
          display: flex;
          justify-content: center;
          align-items: center;
          &__box{
            width: 100%;
            display: flex;
            &--photo{
              height: 150px;
              img{
                height: 100%;
                width: 250px;
              }
            }
            &--lists{
              height: 100%;
              font-size: 9px;
              margin-left:10px;
              &--top{
                margin: 5px 0 10px;
              }
              &--under{
                line-height: 25px;
                display: flex;
                &--left{
                  margin-right: 90px;
                }
                &--right{
                }
              }
            }
          }
        }
      }
    }
  }
}