// -------- ６：リンク２ ---------
.breadcrumb{
  max-width :1050px;
  min-width :600px;
  text-align: center;
  border-bottom: 1px solid rgb(173, 173, 173);
  &__box{
    display: inline-block;
    &__text{
      height: 50px;
      &__nav{
        line-height: 50px;
        &__orderedlist{
          display: flex;
          li{
            padding:0 10px;
          }
        }
      }
    }
  }
}