// -------- ７：リンク ---------
$caret-color: red;
.links{
  background-color: rgb(217, 217, 217);
  font-size: 10px;
  &__box{
    width :750px;
    height: 250px;
    padding: 5px 0;
    margin: 0 auto;
    display: flex;
    align-items: center;
    &__left{
      padding: 10px;
      height: 85%;
      width: 70%;
      border-left: 1px solid rgb(178, 176, 176);
      border-right: 1px solid rgb(178, 176, 176);
      &__columns{
        height: 100%;
        width: 100%;
        display: flex;
        line-height: 20px;
        &__column1{
          height: 100%;
          width: 33%;
          a{
            span{
              color: $caret-color;
            }
          }
        }
        &__column2{
          width: 33%;
          a{
            span{
              color: $caret-color;
            }
          }
        }
        &__column3{
          width: 34%;
          a{
            span{
              color: $caret-color;
            }
          }
        }
      }
    }
    &__right{
      height: 90%;
      width: 30%;
      border-right: 1px solid rgb(178, 176, 176);
      &__top{
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        img{
          width: 100%;
        }
      }
      &__middle{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        img{
          width: 100%;
        }
      }
      &__bottom{
        display: flex;
        padding: 10px;
        img{
          display: inline-block;
          height: 25px;
          margin-right: 15px;

        }
      }
    }
  }
}