// -------- ８： リンク２---------
.links02{
  max-width :1050px;
  min-width :600px;
  background-color: rgb(115, 115, 115);
  &__box{
    margin: 0 auto;
    height: 30px;
    display: flex;
    align-items: center;
    ul{
      display: flex;
      li{
        font-size: 9px;
        display: flex;
        a{
          padding: 0 10px 0;
          color: #fff;
        }
      }
    }
  }
}