html body {
  list-style: none;
}

html body a {
  text-decoration: none;
}

html body a:hover {
  text-decoration: underline;
  opacity: 0.8;
}

.top-border {
  height: 4px;
  background-color: #F77D0C;
}

.box {
  width: 1180px;
  padding: 0 20px;
  margin: 0 auto;
}

.header {
  border-bottom: 1px solid #b0acac;
}

.header__box {
  height: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__box__inner1 {
  padding: 8px 40px 0 8px;
}

.header__box__inner1 img {
  width: 150px;
}

.header__box__inner1 img:hover {
  opacity: 0.7;
}

.header__box__inner2 {
  position: relative;
}

.header__box__inner2 input {
  height: 20px;
  width: 593px;
  margin: 10px 0;
}

.header__box__inner2 .textlines {
  border: 0.5px solid #b0acac;
  color: #cccccc;
  font-size: 12px;
  border-radius: 0.3em;
  padding: 0.5em;
}

.header__box__inner2 .fa-search {
  position: absolute;
  top: 19px;
  left: 580px;
  color: #F77D0C;
}

.header__box__inner3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 34px;
  font-size: 14px;
  color: #424242;
  line-height: 55px;
  font-weight: 400;
}

.header__box__inner3--1 {
  margin-right: 20px;
}

.header__box__inner3--1 span {
  padding-left: 5px;
  color: #797979;
}

.header__box__inner3--2 {
  margin-right: 20px;
}

.header__box__inner3--2 span {
  padding-left: 5px;
  color: #797979;
}

.header__box__inner3--3 {
  margin-right: 20px;
}

.header__box__inner3--3 span {
  padding-left: 5px;
  color: #797979;
}

.header__box__inner4 {
  margin-left: 24px;
  font-size: 1.5em;
  color: #cccccc;
}

.header__box__inner4 .fa-cart-plus {
  padding-top: 15px;
}

.menu {
  border-bottom: 1px solid #b0acac;
}

.menu__box {
  height: 50px;
}

.menu__box ul {
  padding-top: 5px;
  color: #424242;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__box ul li {
  margin-right: 25px;
}

.bread__box {
  height: 60px;
}

.bread__box__breadcrumb {
  overflow: hidden;
  width: 100%;
  padding-top: 20px;
  list-style: none;
}

.bread__box__breadcrumb * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.bread__box__breadcrumb *:after, .bread__box__breadcrumb *:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.bread__box__breadcrumb li {
  display: inline-block;
  padding: 0;
  margin: 0 0 0.5em 0;
}

.bread__box__breadcrumb a {
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 0.7em 1em 0.7em 2em;
  text-decoration: none;
  color: #645858;
  background-color: #cecece;
}

.bread__box__breadcrumb li:first-child a {
  padding-left: 1em;
  border-radius: 5px 0 0 5px;
}

.bread__box__breadcrumb a::after, .bread__box__breadcrumb a::before {
  position: absolute;
  top: 50%;
  right: -1.5em;
  margin-top: -1.48em;
  content: '';
  border-top: 1.48em solid transparent;
  border-bottom: 1.48em solid transparent;
  border-left: 1.5em solid;
}

.bread__box__breadcrumb a::after {
  z-index: 2;
  border-left-color: #cecece;
}

.bread__box__breadcrumb a::before {
  z-index: 1;
  right: -1.8em;
  border-left-color: #ffffff;
}

.show {
  padding-top: 20px;
  border-bottom: 1px solid #b0acac;
}

.show__box {
  height: 637px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.show__box__left {
  padding-top: 30px;
}

.show__box__left__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.show__box__left__top--1 img {
  margin-top: 24px;
  border: 1px solid #b0acac;
  width: 65px;
}

.show__box__left__top--1 img:hover {
  border: 1px solid #F77D0C;
  opacity: 0.7;
}

.show__box__left__top--2 img {
  border: 1px solid #b0acac;
  padding: 2px;
  margin-left: 17px;
  width: 430px;
}

.show__box__left__middle {
  margin-top: 20px;
  margin-bottom: 5px;
}

.show__box__left__middle__top--3 {
  padding-left: 35p;
}

.show__box__left__bottom ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.show__box__left__bottom ul img {
  width: 80px;
  margin-right: 5px;
  border: 1px solid #b0acac;
}

.show__box__left__bottom ul img:hover {
  border: 1px solid #F77D0C;
  opacity: 0.7;
}

.show__box__right {
  width: 630px;
  padding-top: 30px;
  margin-left: 60px;
}

.show__box__right__top {
  padding-bottom: 15px;
  border-bottom: 1px solid #b0acac;
}

.show__box__right__top--1 {
  color: #56BFF2;
}

.show__box__right__top--2 {
  word-break: break-all;
  font-size: 24px;
  font-weight: 700;
  color: #333333;
}

.show__box__right__top--4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 700;
  padding-top: 10px;
  color: #ff0000;
}

.show__box__right__top--4--1 {
  font-size: 32px;
}

.show__box__right__top--4--2 {
  padding-left: 8px;
  padding-top: 18px;
  font-size: 16px;
}

.show__box__right__top--5 {
  padding-left: 3px;
  margin-bottom: 25px;
  width: 80px;
  color: #fff;
  background-color: #0066FF;
}

.show__box__right__top--6 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 700;
}

.show__box__right__top--6--1 {
  font-weight: 700;
  font-size: 18px;
  color: #009900;
}

.show__box__right__top--6--2 {
  font-weight: 400;
  font-size: 14px;
  padding-top: 5px;
  color: #0064c8;
}

.show__box__right__top--7 {
  padding-top: 5px;
  color: red;
}

.show__box__right__top--8 {
  color: red;
  padding-bottom: 8px;
}

.show__box__right__middle {
  padding: 15px 0;
  border-bottom: 1px solid #b0acac;
  color: #424242;
}

.show__box__right__middle__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 15px;
}

.show__box__right__middle__top--1 {
  padding-top: 18px;
}

.show__box__right__middle__top--2 {
  height: 27px;
  width: 55px;
  margin-top: 15px;
  padding-left: 5px;
  border: 1px solid #b0acac;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
}

.show__box__right__middle__top--3 {
  margin-left: 35px;
  padding: 10px 45px;
  color: #fff;
  background: -webkit-gradient(linear, left bottom, left top, from(#ff6a6a), to(#ff3b3b));
  background: linear-gradient(to top, #ff6a6a, #ff3b3b);
  border-radius: 5px;
  border: 0.5px solid #fff;
}

.show__box__right__middle__top--3 .cartbutton {
  padding-right: 5px;
}

.show__box__right__middle__top--3:hover {
  opacity: 0.8;
  cursor: pointer;
}

.show__box__right__middle__top--3 p {
  font-size: 1.7em;
  font-weight: 400;
}

.show__box__right__middle__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 15px;
}

.show__box__right__middle__bottom--1 {
  margin-top: 5px;
  margin-right: 8px;
}

.show__box__right__middle__bottom--2 {
  margin-top: 4px;
  margin-right: 7px;
  color: red;
}

.show__box__right__bottom {
  padding-top: 10px;
}

.show__box__right__bottom p {
  padding-top: 4px;
}

.slider1 {
  border-bottom: 1px solid #b0acac;
  background-color: #ff6666;
}

.slider1__box {
  height: 460px;
  width: 850px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider1__box li img {
  height: 80px;
}

.introduction {
  border-bottom: 1px solid #b0acac;
}

.introduction__box {
  height: 890px;
}

.introduction__box__top__title {
  font-size: 32px;
  font-weight: 400;
  padding: 34px 0;
}

.introduction__box__top__1 {
  padding-bottom: 32px;
}

.introduction__box__top__1--top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #b0acac;
  padding-bottom: 6px;
}

.introduction__box__top__1--top span {
  color: #b0acac;
  padding-right: 10px;
  margin-top: 14px;
  font-size: 10px;
}

.introduction__box__top__1--top h2 {
  font-size: 24px;
}

.introduction__box__top__1--bottom {
  font-size: 14px;
  padding-top: 14px;
}

.introduction__box__top__2 {
  padding-bottom: 27px;
}

.introduction__box__top__2--top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #b0acac;
  padding-bottom: 3px;
}

.introduction__box__top__2--top span {
  color: #b0acac;
  padding-right: 10px;
  margin-top: 14px;
  font-size: 10px;
}

.introduction__box__top__2--top h2 {
  font-size: 24px;
}

.introduction__box__top__3--top {
  border-bottom: 1px solid #b0acac;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 3px;
}

.introduction__box__top__3--top span {
  color: #b0acac;
  padding-right: 10px;
  margin-top: 14px;
  font-size: 10px;
}

.introduction__box__top__3--top h2 {
  font-size: 24px;
}

.introduction__box__top__3--bottom {
  font-size: 14px;
  padding-top: 14px;
}

.introduction__box__middle__title {
  font-size: 32px;
  font-weight: 400;
  padding: 22px 0;
}

.introduction__box__middle__1 {
  color: #b0acac;
  padding: 14px 0;
  border-top: 1px solid #b0acac;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.introduction__box__middle__1__left {
  font-size: 14px;
  margin-left: 12px;
  width: 316px;
}

.introduction__box__middle__1__right {
  margin-right: 12px;
  width: 560px;
}

.introduction__box__middle__2 {
  color: #b0acac;
  padding: 17px 0;
  border-top: 1px solid #b0acac;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.introduction__box__middle__2__left {
  font-size: 14px;
  margin-left: 12px;
  width: 316px;
}

.introduction__box__middle__2__right {
  font-size: 13.8px;
  margin-right: 12px;
  width: 560px;
}

.introduction__box__middle__3 {
  color: #b0acac;
  padding: 12px 0;
  border-top: 1px solid #b0acac;
  border-bottom: 1px solid #b0acac;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.introduction__box__middle__3__left {
  font-size: 14px;
  margin-left: 12px;
  width: 316px;
}

.introduction__box__middle__3__right {
  margin-right: 12px;
  width: 560px;
}

.introduction__box__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.introduction__box__bottom__button {
  margin: 30px 0 80px;
  height: 60px;
  width: 300px;
  color: #b0acac;
  border: 1px solid #b0acac;
  border-radius: 5px;
  position: relative;
  text-align: center;
}

.introduction__box__bottom__button a {
  display: block;
  width: 100%;
  height: 100%;
  line-height: 60px;
  font-size: 20px;
  text-decoration: none;
  position: absolute;
  top: 0;
  left: 0;
}

.introduction__box__bottom__button a span {
  padding-right: 15px;
}

.introduction__box__bottom__button a:hover {
  opacity: 0.8;
}

.slider2 {
  border-bottom: 1px solid #b0acac;
}

.slider2__box {
  height: 490px;
}

.slider3 {
  border-bottom: 1px solid #b0acac;
}

.slider3__box {
  height: 430px;
}

.slider4 {
  border-bottom: 1px solid #b0acac;
}

.slider4__box {
  height: 315px;
}

.slider5 {
  border-bottom: 1px solid #b0acac;
}

.slider5__box {
  height: 315px;
}

.banners {
  border-bottom: 1px solid #b0acac;
}

.banners__box {
  height: 430px;
}

.blank {
  border-bottom: 1px solid #b0acac;
}

.blank__box {
  height: 90px;
}

.links {
  background-color: #EEEEEE;
  border-bottom: 1px solid #b0acac;
}

.links__box {
  padding: 38px 0 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 352px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.links__box__minibox {
  height: 312px;
  width: 270px;
}

.links__box__minibox h3 {
  padding-bottom: 5px;
  color: #424242;
  border-bottom: 1px solid #b0acac;
}

.links__box__minibox ul {
  padding-top: 10px;
}

.links__box__minibox ul li {
  line-height: 26px;
  font-size: 14px;
}

.links__box__minibox ul li a {
  color: #424242;
}

.footer {
  background-color: #EEEEEE;
  border-bottom: 1px solid #b0acac;
}

.footer__box {
  height: 105px;
}
/*# sourceMappingURL=common.css.map */