.top-border {
  height: 4px;
  background-color: #F77D0C;
}

.box {
  width: 930px;
  padding: 0 20px;
  margin: 0 auto;
}

.header {
  border-bottom: 1px solid #cecece;
}

.header__box {
  height: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__box__inner1 {
  padding: 8px 40px 0 8px;
}

.header__box__inner1 img {
  width: 150px;
}

.header__box__inner2 {
  position: relative;
}

.header__box__inner2 input {
  height: 20px;
  width: 593px;
  margin: 10px 0;
}

.header__box__inner2 .textlines {
  border: 0.5px solid #cecece;
  color: #cccccc;
  font-size: 12px;
  border-radius: 0.3em;
  padding: 0.5em;
}

.header__box__inner2 .fa-search {
  position: absolute;
  top: 19px;
  left: 580px;
  color: #F77D0C;
}

.header__box__inner3 {
  margin-left: 34px;
  font-size: 1.5em;
  color: #cccccc;
}

.header__box__inner3 .fa-bars {
  padding-top: 15px;
}

.header__box__inner4 {
  margin-left: 24px;
  font-size: 1.5em;
  color: #cccccc;
}

.header__box__inner4 .fa-cart-plus {
  padding-top: 15px;
}

.menu {
  border-bottom: 1px solid #cecece;
}

.menu__box {
  height: 50px;
}

.menu__box ul {
  padding-top: 5px;
  color: #424242;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__box ul li {
  margin-right: 25px;
}

.bread {
  background-color: #f5f4f4;
}

.bread__box {
  height: 60px;
}

.bread__box__breadcrumb {
  background-color: #f5f4f4;
  overflow: hidden;
  width: 100%;
  padding-top: 20px;
  list-style: none;
}

.bread__box__breadcrumb * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.bread__box__breadcrumb *:after, .bread__box__breadcrumb *:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.bread__box__breadcrumb li {
  display: inline-block;
  padding: 0;
  margin: 0 0 0.5em 0;
}

.bread__box__breadcrumb a {
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 0.7em 1em 0.7em 2em;
  text-decoration: none;
  color: #645858;
  background-color: #cecece;
}

.bread__box__breadcrumb li:first-child a {
  padding-left: 1em;
  border-radius: 5px 0 0 5px;
}

.bread__box__breadcrumb a::after, .bread__box__breadcrumb a::before {
  position: absolute;
  top: 50%;
  right: -1.5em;
  margin-top: -1.48em;
  content: '';
  border-top: 1.48em solid transparent;
  border-bottom: 1.48em solid transparent;
  border-left: 1.5em solid;
}

.bread__box__breadcrumb a::after {
  z-index: 2;
  border-left-color: #cecece;
}

.bread__box__breadcrumb a::before {
  z-index: 1;
  right: -1.8em;
  border-left-color: #ffffff;
}

.show {
  padding-top: 20px;
  background-color: #f5f4f4;
  border-bottom: 1px solid #cecece;
}

.show__box {
  height: 637px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.show__box__left__top img {
  border: 1px solid #cecece;
  padding: 2px;
  margin-left: 50px;
  width: 400px;
}

.show__box__left__bottom ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.show__box__left__bottom ul img {
  width: 60px;
}

.slider1 {
  border-bottom: 1px solid #cecece;
}

.slider1__box {
  height: 460px;
}

.introduction {
  border-bottom: 1px solid #cecece;
}

.introduction__box {
  height: 890px;
}

.slider2 {
  border-bottom: 1px solid #cecece;
}

.slider2__box {
  height: 490px;
}

.slider3 {
  border-bottom: 1px solid #cecece;
}

.slider3__box {
  height: 430px;
}

.slider4 {
  border-bottom: 1px solid #cecece;
}

.slider4__box {
  height: 315px;
}

.slider5 {
  border-bottom: 1px solid #cecece;
}

.slider5__box {
  height: 315px;
}

.banners {
  border-bottom: 1px solid #cecece;
}

.banners__box {
  height: 430px;
}

.blank {
  border-bottom: 1px solid #cecece;
}

.blank__box {
  height: 90px;
}

.links {
  border-bottom: 1px solid #cecece;
}

.links__box {
  height: 402px;
}

.footer {
  border-bottom: 1px solid #cecece;
}

.footer__box {
  height: 105px;
}
/*# sourceMappingURL=style.css.map */